absl-py==2.1.0
altair==5.5.0
annotated-types==0.7.0
ansi2html==1.9.2
anyio==4.6.2.post1
asttokens==3.0.0
astunparse==1.6.3
attrs==25.1.0
beautifulsoup4==4.13.3
blinker==1.9.0
cachetools==5.5.0
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
cloudpickle==3.1.0
colorama==0.4.6
colour==0.1.5
comm==0.2.2
contourpy==1.3.0
cycler==0.12.1
dash==2.18.2
dash-bootstrap-components==1.6.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dash_auth==2.3.0
debugpy==1.8.11
decorator==5.1.1
dnspython==2.7.0
dtreeviz==2.2.2
email_validator==2.2.0
et_xmlfile==2.0.0
exceptiongroup==1.2.2
executing==2.1.0
explainerdashboard==0.4.7
fastapi==0.115.4
fastapi-cli==0.0.5
filelock==3.18.0
Flask==2.2.2
Flask-WTF==1.2.2
flask_simplelogin==0.2.0
flatbuffers==24.3.25
fonttools==4.54.1
fsspec==2025.3.0
gast==0.4.0
gitdb==4.0.12
GitPython==3.1.44
google-api-core==2.24.2
google-api-python-client==2.163.0
google-auth==2.36.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
googleapis-common-protos==1.69.1
graphviz==0.20.3
grpcio==1.67.1
h11==0.14.0
h5py==3.12.1
httpcore==1.0.6
httplib2==0.22.0
httptools==0.6.4
httpx==0.27.2
huggingface-hub==0.29.3
idna==3.10
importlib_metadata==8.5.0
importlib_resources==6.4.5
iniconfig==2.0.0
ipykernel==6.29.5
ipython==8.18.1
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.4
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter-dash==0.4.2
jupyter_client==8.6.3
jupyter_core==5.7.2
keras==2.11.0
kiwisolver==1.4.7
libclang==18.1.1
llvmlite==0.43.0
lxml==5.4.0
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.9.2
matplotlib-inline==0.1.7
mdurl==0.1.2
MouseInfo==0.1.3
mpmath==1.3.0
narwhals==1.30.0
nest-asyncio==1.6.0
networkx==3.2.1
nltk==3.8
numba==0.60.0
numpy==1.23.5
oauth2client==4.1.3
oauthlib==3.2.2
openpyxl==3.1.5
opt_einsum==3.4.0
oyaml==1.0
packaging==24.1
pandas==1.5.2
parso==0.8.4
perspective-python==3.1.8
pillow==11.0.0
platformdirs==4.3.6
plotly==5.24.1
pluggy==1.5.0
pooch==1.8.2
prettytable==3.12.0
prompt_toolkit==3.0.48
proto-plus==1.26.1
protobuf==3.20.3
psutil==6.1.0
pure_eval==0.2.3
pyarrow==19.0.1
pyasn1==0.6.1
pyasn1_modules==0.4.1
PyAutoGUI==0.9.54
pydantic==2.9.2
pydantic_core==2.23.4
pydeck==0.9.1
PyDrive==1.3.1
pyecharts==2.0.7
pyecharts-jupyter-installer==0.0.3
PyGetWindow==0.0.9
Pygments==2.18.0
PyMsgBox==1.0.9
pyparsing==3.2.0
pyperclip==1.9.0
PyRect==0.2.0
PyScreeze==1.0.1
pytest==8.3.4
python-dateutil==2.9.0.post0
python-docx==1.1.2
python-dotenv==1.0.1
python-multipart==0.0.17
pytweening==1.2.0
pytz==2024.2
pyvista==0.44.2
pywhatkit==5.4
pywin32==308
PyYAML==6.0.2
pyzmq==26.2.0
referencing==0.36.2
regex==2024.11.6
requests==2.32.3
requests-oauthlib==2.0.0
retrying==1.3.4
rich==13.9.4
rpds-py==0.23.1
rsa==4.9
safetensors==0.5.3
scikit-learn==1.2.0
scipy==1.9.3
scooby==0.10.0
seaborn==0.13.2
sentence-transformers==3.4.1
shap==0.46.0
shellingham==1.5.4
simplejson==3.19.3
six==1.16.0
slicer==0.0.8
smmap==5.0.2
sniffio==1.3.1
soupsieve==2.6
stack-data==0.6.3
starlette==0.41.2
streamlit==1.43.2
streamlit-quill==0.0.3
sympy==1.13.1
tenacity==9.0.0
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.11.0
tensorflow-estimator==2.11.0
tensorflow-intel==2.11.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.5.0
threadpoolctl==3.5.0
tokenizers==0.21.1
toml==0.10.2
tomli==2.2.1
torch==2.6.0
tornado==6.4.2
tqdm==4.67.0
traitlets==5.14.3
transformers==4.49.0
typer==0.13.0
typing_extensions==4.12.2
uritemplate==4.1.1
urllib3==2.2.3
uvicorn==0.32.0
vtk==9.3.1
waitress==3.0.2
watchdog==6.0.0
watchfiles==0.24.0
wcwidth==0.2.13
websockets==13.1
Werkzeug==2.2.2
wikipedia==1.4.0
wrapt==1.16.0
WTForms==3.2.1
zipp==3.20.2
